[build]
  publish = "."
  command = "ls -la"
  ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF ."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
